@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  font-family: "Inter", sans-serif;
  padding: 5%;
  max-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5vw;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5vw;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5vw;
}

svg {
  width: 30vw;
  height: auto;
}

path {
  transition: all 0.5s;
}

.a1:hover path {
  d: path(
    "M706.94 0V177H0V520H873.94V0H706.94ZM706.94 353H167V344H706.94V353Z"
  );
}

.a2:hover path {
  d: path("M0 0H521.06V167H167V353H873.94V872H354.06V706H706.94V520H0V0Z");
}

.a3:hover path {
  d: path(
    "M354.06 0H521.06V177.25H873.94V344.33H521.06V529.33H873.94V696.11H521.06V872.44H354.06V695.66H0V529.33H354.5V344.33H0V177.25H353.83L354.06 0Z"
  );
}

.a4:hover path {
  d: path(
    "M795 0.897217L865 151.5L401.5 354.241L873.94 354.131V521.021H0V354.241L795 0.897217Z"
  );
}

.b1:hover path {
  d: path(
    "M353.5 0V177H0.0300293V344H353.5V530H0.0300293V697H353.5V874H520.5V697H874.04V530H520.5V344H874.04V177H520.5V0H353.5Z"
  );
}

.b2:hover path {
  d: path("M0.0300293 0H874.04V167H167.03V175.67H874.04V343H0.0300293V0Z");
}

.b3:hover path {
  d: path(
    "M0.0300293 0V521.08H167.03V344.19H874.04V0H0.0300293ZM707.04 177.19H167.03V167.08H707.04V177.19Z"
  );
}

.b4:hover path {
  d: path(
    "M0.0300293 0H874.04V166.67H167.03V353.33H520.5V520.22H167.03V706H874.04V872.89H0.0300293V0Z"
  );
}
