body {
  background-color: white;
  margin: 0;
}

.grid-container {
  margin-top: 2vh;
  margin-left: 4vh;
  margin-right: 4vh;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(40, 22vh);
  grid-template-rows: repeat(4, 22vh);
  gap: 1vh;
}

.letter1 {
  grid-column: 1 / 6;
  grid-row: 1 / 5;
  width: auto;
}

.letter2 {
  grid-column: 6 / 11;
  grid-row: 1 / 5;
  width: auto;
}

.letter3 {
  grid-column: 11 / 16;
  grid-row: 2 / 5;
  width: auto;
}

.letter4 {
  grid-column: 16 / 21;
  grid-row: 2 / 5;
  width: auto;
}

.letter5 {
  grid-column: 21 / 26;
  grid-row: 1 / 5;
  width: auto;
}

.letter6 {
  grid-column: 26 / 31;
  grid-row: 1 / 5;
  width: auto;
}

.letter7 {
  grid-column: 31 / 36;
  grid-row: 1 / 5;
  width: auto;
}

.letter8 {
  grid-column: 36 / 41;
  grid-row: 2 / 5;
  width: auto;
}

/* Mobile Hochformat */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  body {
    align-self: center;
  }

  .grid-container {
    margin-top: 2vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 18vw);
    grid-template-rows: repeat(29, 18vw);
    gap: 0.4vh;
  }

  .letter1 {
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    width: auto;
  }

  .letter2 {
    grid-column: 1 / 6;
    grid-row: 5 / 9;
    width: auto;
  }

  .letter3 {
    grid-column: 1 / 6;
    grid-row: 9 / 13;
    width: auto;
  }

  .letter4 {
    grid-column: 1 / 6;
    grid-row: 12 / 16;
    width: auto;
  }

  .letter5 {
    grid-column: 1 / 6;
    grid-row: 15 / 19;
    width: auto;
  }

  .letter6 {
    grid-column: 1 / 6;
    grid-row: 19 / 23;
    width: auto;
  }

  .letter7 {
    grid-column: 1 / 6;
    grid-row: 22 / 26;
    width: auto;
  }

  .letter8 {
    grid-column: 1 / 6;
    grid-row: 26 / 30;
    width: auto;
  }
}
